<!DOCTYPE html>
<html>
<head>
  <title>Node Photo Sync</title>
</head>
<body>
  <h1>Flickr Auth Success!</h1>
  <ul>
    <li><%- flickr_identifier %></li>
    <li><%- upload_url %></li>
  </ul>
</body>
</html>