<!DOCTYPE html>
<html>
<head>
  <title>Node Photo Sync</title>
</head>
<body>
  <h1>Node Photo Sync</h1>
  <p>
    Welcome!
    <ul>
      <li><%- link_to('Authenticate with flickr', '/flickr-oauth-request') %></li>
    </ul>
  </p>
</body>
</html>